﻿@model ClassBatchEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ClassBatch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClassName" class="control-label"></label>
                <input asp-for="ClassName" class="form-control" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassCode" class="control-label"></label>
                <input asp-for="ClassCode" class="form-control" />
                <span asp-validation-for="ClassCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Managers" class="control-label"></label>
                <select class="js-example-basic-single" multiple="multiple" asp-for="SelectManagerIds"
                        asp-items="@(new SelectList(Model.Managers,"Id","UserName"))">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="ClassCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Trainers</label>
                <select class="js-example-basic-single" multiple="multiple" asp-for="SelectTrainerIds"
                        asp-items="@(new SelectList(Model.Managers,"Id","UserName"))">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="ClassCode" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>
}