﻿@{
    ViewData["Title"] = "Home Page";
}

<h1>Multiple Select Option</h1>

<select class="js-example-basic-single" name="state" multiple="multiple">
    <option value="HN">Ha Noi</option>
    <option value="HCM">Ho Chi Minh</option>
    <option value="DN">Da Nang</option>
    <option value="CT">Can Tho</option>
    <option value="NT">Nha Trang</option>
</select>

@*In your Javascript (external .js resource or <script> tag)*@

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>
}